* { padding: 0px; margin: 0px; font-family: Arial, Helvetica, sans-serif; }


body {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: radial-gradient(ellipse at top left, rgb(255, 123, 0),rgb(255, 186, 186));
}

.container-quiz {
    width: 400px;


    display: flex;
    flex-direction: column;

    border-radius: 8px;

    text-align: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.707);
    box-shadow: 5px 5px rgba(130, 130, 130, 0.152);
    padding: 50px 20px 50px 20px;

    box-sizing: border-box;

    gap: 50px;
}

h1:nth-child(1) { font-size: 24px; }

.radios {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: baseline;
}

input[type="radio"] { width: 15px; height: 15px; }

input[type="button"] {
    height: 30px;
    width: 40%;

    border-radius: 5px;
    border: 2px solid rgb(255, 162, 0);

    background-color: rgb(255, 229, 193);

    transition: 0.3s ease;

    will-change: transform;
}

input[type="button"]:hover { transform: scale(1.05); }

input:hover, input[type="radio"]:hover { cursor: pointer; }

.finalizar { display: none; }

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    font-size: 20px;
    text-align: center;
}

