* {
    padding: 0px;
    margin: 0px;

    font-family: 'Nunito', sans-serif;
}

li {
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: radial-gradient(ellipse at top left, rgb(0, 1, 64), rgb(0, 1, 27));

    height: 100vh;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;

    color: white;
    background: radial-gradient(ellipse at top left, rgb(45, 51, 224), rgb(0, 1, 57));

    border-radius: 6px;

    height: 400px;
    width: 350px;
    
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);

    padding: 110px 50px 0px 50px;

    box-sizing: border-box;  
}

.container-form form {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 100%;
}

.conteudo-form {
    display: flex;

    justify-content: center;
    flex-direction: column;

    gap: 10px;

    text-align: left;
}

#titulo {

    position: static;
    text-align: center;

    width: 100%;

    margin-bottom: 20px;
    
    font-size: large;
}

input {
    height: 44px;
    padding: 8px;

    outline: none;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.325);

}

#submit-box {
    margin-top: 10px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.enviar {
    width: 100%;
    height: 30px;
    transition: 0.3s ease;

    background:  rgb(0, 140, 255);
    color: white;
}
.enviar:hover { cursor: pointer; background: rgb(0, 195, 255) }

