* {
    padding: 0px;
    margin: 0px;

    font-family: 'Nunito', sans-serif;
}

li {
    list-style: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: radial-gradient(ellipse at top left, rgb(0, 1, 64), rgb(0, 1, 27));

    height: 100vh;
}

#titulo { text-align: left; width: 100%; }

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;

    box-sizing: border-box;
    padding: 0px 50px 0px 50px;

    color: white;
    background: radial-gradient(ellipse at top left, rgb(45, 51, 224), rgb(0, 1, 57));

    border-radius: 6px;

    height: 550px;
    width: 400px;
    
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.container-form label { margin-top: 10px; }

.container-form h1 { margin-top: 40px; margin-bottom: 10px; }

.container-form form {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 100%;
}

.conteudo-form {
    display: flex;

    justify-content: center;
    flex-direction: column;

    gap: 10px;

    text-align: left;
}

input {
    height: 35px;
    padding: 8px;

    outline: none;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.325);

}

#submit-box {
    margin-top: 30px;


    display: flex;
    align-items: center;
    justify-content: center;
}

.enviar { 
    width: 100%; 
    height: 30px; 
    background: rgb(0, 140, 255); 
    color: white; 
    transition: 0.3s ease;
}

.enviar:hover { background-color: rgb(61, 168, 255); cursor: pointer; }

h1 { margin-top: 30px; }

#redirect-box { margin-top: 30px; font-size: 14px; }

#redirect a { text-decoration: none; color: rgb(94, 250, 255);}
#redirect a:hover { text-decoration: underline; }